# URL of the crabgrass instance
CG_BASE_URL=https://we.riseup.net

# login credentials for crapgrass
CG_USERNAME=changeme!
CG_PASSWORD=changeme!

# crapgrass groups to make a snapshot from
CG_GROUPS=changeme!

# run backup on container startup
CG_RUN_AT_STARTUP=1

# use tor for Downloads
CG_USE_TOR=1

# passphrase for the borg repo
BORG_PASSPHRASE=changeme!

# Timezone:
TZ=Europe/Berlin
